<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="gorevBean" class="com.mehmetucar.memur.Emniyet"/>
	<bean id="memurBean" class="com.mehmetucar.memur.Polis">
		<constructor-arg name="gorev" ref="gorevBean"/>
	</bean>
	
</beans>
